<!DOCTYPE html>
<html lang="en">
{% extends "imageboard/base.html" %}

{% block content %}
    <center>
        <h1>Hello {{ name }}! Posts For {{ month }} {{ year }}</h1>


    </center>
    <h3>posts This Month...</h3>

    {% if post_list %}
        {% for post in post_list %}
            <div class="card">
                <div class="card-header">
                    {{ post }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Posts: {{ post.title }}</h5>
                    <p class="card-text">
                    <ul>
                        <li>Title: {{ post.title }} Date: {{ post.date_posted }}</li>
                        {% if post.image_link %}
                            <img src="{{ post.image_link }}" alt="Zdjęcie posta">
                        {% endif %}
                        <li>Author: {{ post.author }}</li>
                        <li>Contents: {{ contents.description }}</li>
                        <li>Likes: <br/>

                        </li>
                    </ul>




                    </p>
                </div>
                {% if user.is_authenticated %}
                    {% if user == post.author %}
                        <div class="card-footer text-muted">

                            <a href="{% url 'update-posts' post.id %}" class="btn btn-outline-secondary btn-sm">Update posts</a>

                            <a href="{% url 'delete-posts' post.id %}" class="btn btn-outline-danger btn-sm">Delete posts</a>

                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <br/>
        {% endfor %}

    {% else %}
        Sorry...There are no posts this month...
    {% endif %}

    <center>
        <br/><br/><br/><br/>
        Copyright (c) {{ current_year }}

    </center>
{% endblock %}
</html>