<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sortuj Według
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'test' %}">Najlepsze</a></li>
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'test' %}">Najnowsze</a></li>
            <li><a class="dropdown-item" href="{% url 'test' %}">Najstarsze</a></li>
            {% endif %}


          </ul>
        </li>



      </ul>

        {% csrf_token %}

        <input class="form-control me-2" type="Szukaj" placeholder="Szukaj" aria-label="Szukaj" name="searched">
        <button class="btn btn-outline-secondary" type="submit">Szukaj</button>

     <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Użytkownik
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'test' %}">Mój profil</a></li>
                <li><a class="dropdown-item" href="{% url 'test' %}">Moje posty</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a></li>
            {% endif %}


          </ul>
        </li>


  {% if user.is_authenticated %}
      {% if user.is_superuser %}
          <li class="nav-item">

        </li>
      {%endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'test' %}"><b><center>DODAJ POST</center></b></a>
        </li>


    {% else %}
          <li class="nav-item">

        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Zaloguj</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Zarejestruj</a>
        </li>

  {% endif %}


      </form>
    </div>
  </div>
</nav>